body, html {
    font-family: "Lexend", sans-serif;
    background-color: #f0e7ff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav a:hover {
    color: #6c63ff;
}

.join-now {
    padding: 10px 20px;
    background-color: #c35efa;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.join-now:hover {
    background-color: #9842fa;
}

main {
    text-align: center;
}

h1 {
    font-size: 56px;
    color: #333;
    margin-bottom: 40px;
}

.h1-light {
    font-size: 56px;
    color: #d1d1d1;
    margin-bottom: 40px;
    padding-top: 40px;
}

.grey-bar {
    width: 100%;
    height: 10px;
    background-color: rgba(40, 40, 40, 1);
    z-index: 1;
}

.big-logo {
    position: absolute;
    top: 50%;
    left: 50%;
}

.big-logo-front {
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    z-index: 2;
}

.big-logo-background {
    transform: translate(-50%, -55%);
    width: 600px;
    height: auto;
    z-index: 1;
}

.paragraph-container {
    width: 75%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    margin-left: 12.5%;
    margin-bottom: 60px;
}

.paragraph-container-dark {
    width: 75%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(131, 8, 168, 0.8);
    border-radius: 15px;
    margin-left: 12.5%;
}

.styled-paragraph {
    text-align: center;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 40px 20px 40px;
}

.header-image {
    position: absolute;
    bottom: 0;
    transform: translateY(30%);
    z-index: 2;
}

.header-image-left {
    left: 10%;
    width: 250px;
    height: auto;
}

.header-image-right {
    left: 80%;
    width: 250px;
    height: auto;
}

.background-image-section {
    background: url('assets/body-background.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.image-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.styled-image {
    margin-right: 120px;
    margin-left: 250px;
}

.rect-image-text {
    text-align: left;
    background-color: #c35efa;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
}

.rectangular-image {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.short-text {
    margin-top: 10px;
}

.styled-paragraph-light {
    text-align: center;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 40px 20px 40px;
    color: #d1d1d1;
}

.invite-container {
    text-align: center;
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
    color: #fff;
}

.invite-logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 10px auto;
}

.invite-text {
    font-size: 0.85em;
    margin-bottom: 10px;
}

.invite-title {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
}

.invite-button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.invite-button:hover {
    background-color: #4752c4;
}

.discord-container {
    padding-bottom: 30px;
}

.footer {
    background-color: #2c2f33;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-container {
    padding-bottom: 30px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.gallery-img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.footer-row {
    margin-top: 0px;
}

.icon-anchor {
    color: #d1d1d1;
}